.CenterForm {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.CenterForm > :not(:last-child) {
  margin-bottom: 20px;
}

.result {
  background-color: yellowgreen;
  border-radius: 3px;
  margin-top: 5px;
}

.result:hover {
  background-color: green;
}
