.card {
  top: 0px;
  left: 375px;
  width: 300px;
  height: 100%;
  background-color: lemonchiffon;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  transition: 0.9s;
}

.baroff {
  top: 0px;
  left: -100%;
  width: 300px;
  height: 100vh;
  background-color: lemonchiffon;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
  transition: 0.9s;
}

.card li {
  list-style: none;
}

.card p {
  padding: 5px;
}
