.container {
  margin: 10px;
  height: 300px;
}

.container p {
  margin: 5px;
  background-color: white;
}

.bar {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 100%;
  background-color: lemonchiffon;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: 300ms;
  z-index: 9;
}

.baroff {
  top: 0px;
  left: -375px;
  width: 300px;
  height: 100%;
  background-color: lemonchiffon;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: 300ms;
  z-index: 3;
}

.UpdateButton {
  background-color: gray;
}

.card li {
  list-style: none;
}

.card p {
  padding: 5px;
}
