.footer-background {
  background-color: #060b26;
  height: 10vh;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-background h1 {
  color: #fff;
}

.AddButton {
  font-size: 40px;
  background-color: orange;
}
