.centers {
  position: fixed;
  width: 375px;
  height: 100vh;
  background-color: #f7edda;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 9;
}

.centers.active {
  left: 0;
  transition: 350ms;
  z-index: 9;
  opacity: .5;
}

.empty {
  margin-top: 60px;
  width: 20%;
}
