.centers {
  position: fixed;
  width: 400px;
  height: 100vh;
  background-color: #f7edda;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -200%;
  transition: 500ms;
  z-index: 6;
}

.centers.active {
  left: 0;
  transition: 350ms;
}

.AddClass {
  position: absolute;
  margin: 10px;
  background: skyblue;
  width: 380px;
  height: 80px;
  border: 2px dashed blue;
}

.AddClass:after {
  width: 45px;
  background: black;
  height: 4px;
  position: absolute;
  content: '';
  bottom: 48%;
  left: 44.5%;
}

.AddClass:before {
  width: 4px;
  height: 45px;
  background: black;
  position: absolute;
  content: '';
  top: 20%;
  left: 50%;
}

.courses {
  background-color: blue;
  margin: 10px;
}

.classcard {
  margin: 10px;
  height: 110px;
}
