/** Noto Sans(Google Fonts) */

.containers {
  display: flex;
  flex-direction: column;
}

.navbar {
  flex: 1 1 10%;
}

.details {
  display: flex;
  flex-direction: row;
  flex: 1 1 80%;
}

footer {
  flex: 1 1 10%;
}

.Map {
  flex: 1 2 70%;
}

.MainData {
  flex: 1 2 30%;
}
